#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.read-the-docs {
  color: #888;
}

img{
  width: 12em;
  height: 8em;
}

.card-display{
  width: 80%;
  max-width: 60em ;
  text-align: center;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}

.card{
  margin: 20px 30px 20px 30px;
  width: 12em;
  height: 8em;
  text-align: center;
  cursor: pointer;

  perspective: 1000px;
}

.card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner{
  transform: rotateY(180deg);

}

.card-front:hover, .card-back:hover{
  box-shadow: 3px 3px grey;
}

.card-front>img{
  border-radius: 10px;
}

.card-front, .card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}


.card-back{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  transform: rotateY(180deg);
  background-color: #b2edff;

}

.card-back>div{
padding: 0;
}

.card.matched{
  border-radius: 10px;
  border: 1px solid;
  text-align: center;
  background-color: #FED16A;
  -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
}

.card.matched > img{
  object-fit: contain;
}

.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(255,255,255, 0.5) ;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner{
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 400px;

  border: 1px solid black;
  border-radius: 10px;
  background-color: bisque;
}

